@charset "UTF-8";
/* CSS Document */

html,body{
	margin:0;
	height:100%;
	overflow:hidden;
	background-color: black;
	color: grey;
        }

img {
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
}

add_caption {
float: left;
background-color: #000;
color: #FFF;
font: bold 11px verdana;
padding-left: 10px;
padding-top: 7px;
height: 23px; opacity: 0.7;
position: relative; 
top: -30px;
margin: 10px;
}
div.wrapper{
    float: left;
    position: relative;
    margin: 10px;
 }
