<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

{% include 'flash.html' %}


<div class="container">

<!-- display channels -->
 {% for channel_name, value in library_paths.iteritems() %}

    <div class="row">
      <h3 class="text-info">{{ channel_name }}:</h3>

	<FORM METHOD="LINK" ACTION="{{'setchannel/' + channel_name}}">
                  <button type="submit" class="btn btn-success btn-small btnblock">Set</button>
        </FORM>

         <!-- display channel contents (photos) -->
		  <!-- Plop in channel contents here -->
		  {% include 'incl_channel.html' %}
    </div>

 {% endfor %}

</div>

{% endblock %}
