<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/clientstyle.css') }} " />

    <title>Framex0r - Client {{ client_id }}</title>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">

    function preload(arrayOfImages) {
        $(arrayOfImages).each(function(){
            $('<img/>')[0].src = this;
            // Alternatively you could use:
            // (new Image()).src = this;
        });
    }

        $(document).ready(function(){

            // Hide caption by default.
            //$('#caption').hide();

            namespace = '/test'; // change to an empty string to use the global namespace

            // the socket.io documentation recommends sending an explicit package upon connection
            // this is specially important when using the global namespace

            var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);

            // TODO: This not received on the other end?
            socket.on('connect', function() {
                socket.emit('my event', {data: 'Client {{ client_id }} connected!'});
            });

            // listen for 'whos_there' requests from server.  Send back my ID if he asks.
            socket.on('whos_there', function() {
                socket.emit('im_here', {data: '{{ client_id }}'});
            });

            // Join room, named my client_id so I can listen for responses sent only to my room.
            socket.emit('join', {room: '{{ client_id }}'});

            // Confirmation of joined room for logging purposes.
            socket.on('room_joined', function(msg) {
                //$('#debug2').append('Server confirmed room join: ' + msg.data + '<BR>');
            });

            // Define image 
            var _image = $('<img>');

            // Pre-load image so we can sync the display up better. 
            socket.on('load_image_url', function(msg) {
                //$('#debug2').append('loading image...<br>');

                // Set image
                preload(['{{ url_for('static',filename='library/') }}' + msg.current_channel + '/' + msg.data]);

                //$('#debug2').append('image loaded.<br>');
            });


            // Display the image when commanded.
            socket.on('display_image', function(msg) {
                //$('#debug2').append('starting display...<br>');


                // Show caption if one exists.
                if(msg.caption != '') {
                   $('#caption').addClass('add_caption');
                   $('#caption').replaceWith($('#img').attr('alt'));
                }
                else {
                   $('#caption').removeClass('add_caption'); 
                   $('#caption').replaceWith('');
                }

                // Fade out, then in with new image!
                $('#img').fadeOut(3000,function(){
                    _image.attr('src', '{{ url_for('static',filename='library/') }}' + msg.current_channel + '/' + msg.data);
                    _image.attr('alt',msg.caption); // Add caption to alt txt.                   
                    $(this).append(_image).fadeIn(3000);
                });

                 // Filling alt tags now... 
                // Show caption (Exif, etc, built in python app.py
                //$('#caption').replaceWith(msg.caption);

                
                //$('#debug2').append('display complete.<br>');

            });

        });
    </script>
</head>
<body>
    <div id="debug"></div>
    <div id="debug2"></div>

    <div id="img"></div>
    <div id="caption"></div>

</body>
</html>
