
<!-- key here is the folder name -->
<!-- sub_key is the names in the folder, only one level deep (as designed) -->
<!-- sub_value is "None" usually -->


{% for file_name, sub_value in value.iteritems() %}
        <div class="col-sm-6 col-md-3">

          <div class="thumbnail">
                <A HREF="{{ url_for('static', filename="library/" + channel_name + "/" + file_name) }}">
                    <IMG SRC="{{ url_for('static', filename="library/" + channel_name + "/" + file_name) }}" WIDTH=192>
                </A>
          </div>
          <div class="caption">
              {{ file_name }}
          </div>
        </div>

{% endfor %}
