<!DOCTYPE HTML>
<html>
<head>
    <style>
        html,body{
            margin:0;
            height:100%;
            overflow:hidden;
            background-color: black;
            color: grey;
        }
        img{
            min-height:100%;
            min-width:100%;
            height:auto;
            width:auto;
            position:absolute;
            top:0; bottom:0;
            margin:auto auto;
        }
    </style>
    <title>Framex0r</title>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">

        $(document).ready(function(){
            namespace = '/test'; // change to an empty string to use the global namespace

            // the socket.io documentation recommends sending an explicit package upon connection
            // this is specially important when using the global namespace

            var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);

            socket.on('connect', function() {
                socket.emit('my event', {data: 'I\'m connected!'});
            });

            var _image = $('<img>');

            // Pre-load image so we can sync the display up better.
            socket.on('load_image', function(msg) {
                $('#debug2').append('loading image...<br>');
                _image.attr('src', 'data:image/png;base64,' + msg.data);
                $('#debug2').append('image loaded.<br>');
            });

            // Display the image when commanded.
            socket.on('display_image', function(msg) {
                $('#debug2').append('starting display...<br>');

		$('#img').fadeOut('slow',function(){
                    
		    $(this).append(_image).fadeIn('slow');
		});

//                $('#img').append(_image);


                $('#debug2').append('display complete.<br>');
            });


        });
    </script>
</head>
<body>
    <div id="debug"></div>
    <div id="debug2"></div>
    <div id="img"></div>
</body>
</html>
